[submodule "lapdftext"]
	path = lapdftext
	url = https://github.com/BMKEG/lapdftext
[submodule "bmkeg-parent"]
	path = bmkeg-parent
	url = https://github.com/BMKEG/bmkeg-parent
[submodule "lapdftext-rules"]
	path = lapdftext-rules
	url = https://github.com/BMKEG/lapdftext-rules
